@model IEnumerable<ERPSystem.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

@if (ViewContext.HttpContext.Session.GetString("AuthToken") != null)
{
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>National Id</th>
                <th>Date of Birth</th>
                <th>Account Id</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AccountId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.AccountId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.AccountId })

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-controller="Home" asp-action="Index">Back to main menu</a>
    </div>
}